<header th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col input-group me-auto mb-3">
                <form class="d-flex" action="/filter">
                    <div class="form-outline" data-mdb-input-init>
                        <input name="name" id="search-input" type="search" class="form-control"/>
                    </div>
                    <button id="search-button" class="btn btn-primary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-auto text-end">
                <a class="btn btn-success" th:href="@{/comment}"><i class="bi bi-chat-left-text"></i></i></a>
            </div>
            <div class="col-auto text-end">
                <a class="btn btn-primary" th:href="@{/logout}"><i class="bi bi-box-arrow-left"></i></i></a>
            </div>
        </div>
    </div>
</header>