<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Библиотека</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-icons.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"> header content</header>
<section>
    <div class="container">
        <div class="col" layout:fragment="content">
            <h1>This is the Layout's main section</h1>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}" class="footer">
    footer content
</footer>
<script th:src="@{/js/bootstrap.min.js}" type="module"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="module"></script>
<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    searchButton.addEventListener('click', () => {
        const inputValue = searchInput.value;
        alert(inputValue);
    });
</script>
</body>
</html>