<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=="~{layout/layout}">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="col" layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h1 class="display-3" id="title"></h1>
        </div>
        <div class="card-body">
            <div th:replace="~{books/fragments/list :: books}" class="footer">
                books content
            </div>
        </div>
    </div>
    <script>
        const genre_name = '[[${name}]]';

        window.onload = () => {
            getGenre(genre_name);
        }

        const getGenre = async (id) => {
            fetch(`/api/v1/genre?` + new URLSearchParams({
                name: genre_name,
            }),
                {
                    method: "GET",
                }).then((response) => {
                return response.json();
            }).then((books) => {
                var title = document.querySelector('#title');
                title.textContent = genre_name;
                document.title = genre_name;
                cleanBooksTable();
                loadBooks(books);
            });
        }
    </script>
</div>
</body>
</html>