<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=="~{layout/layout}">

<head>
    <title>Новая книга</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="col" layout:fragment="content">
    <h1 class="display-3">Новая книга</h1>
    <div class="row">
        <form id="editForm" method="dialog">
            <div class="form-group mb-3">
                <label for="name" th:text="Название" class="fw-bold"></label>
                <input name="name" id="name" type="text" class="form-control" th:value="${book.name}"/>
            </div>
            <div class="form-control mb-3 row">
                <span class="fw-bold" th:text="Автор"></span>
                <div th:id="${'author-' + book.authors.indexOf(item)}" class="form-group mb-3 row" th:each="item : ${book.authors}">
                    <div class="col">
                        <input name="authors" type="text" class="form-control" th:value="${item}"/>
                    </div>
                    <div class="col-auto text-end">
                        <button type="button" class="btn btn-outline-danger" aria-label="delete"
                                th:attr="onclick=|deleteAuthorInput(${book.authors.indexOf(item)})|">
                            <i class="bi bi-trash alert-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-control mb-3 row">
                <span class="fw-bold" th:text="Жанр"></span>
                <div th:id="${'genre-' + book.genres.indexOf(item)}" class="form-group mb-3 row" th:each="item : ${book.genres}">
                    <div class="col">
                        <input name="genres" type="text" class="form-control" th:value="${item}"/>
                    </div>
                    <div class="col-auto text-end">
                        <button type="button" class="btn btn-outline-danger" aria-label="delete"
                                th:attr="onclick=|deleteGenreInput(${book.genres.indexOf(item)})|">
                            <i class="bi bi-trash alert-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" th:attr="onclick=|editBook(${book.id})|">
                <i class="bi bi-save"></i>
            </button>
        </form>
    </div>
    <script>
        const editBook = async (id) => {
            var form = document.querySelector('#editForm');
            var data = new FormData(form);
            console.log(data);
            await fetch(`/book/${id}`, {
                method: "PUT",
                body: data
            }).then(() => location.reload());
        };

        const deleteAuthorInput = async (id) => {
            var element = document.querySelector('#author-'+id);
            element.remove();
        };

        const deleteGenreInput = async (id) => {
            var element = document.querySelector('#genre-'+id);
            element.remove();
        };
    </script>
</div>
</body>
</html>